body {
  color: rgba(67, 68, 85, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #ffffff;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-header-nav {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
  padding: 24px 0;
}

.logo-black {
  color: rgba(46, 47, 66, 1);
}

.logo-white {
  color: rgba(244, 244, 253, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu-nav-li:hover,
.menu-nav-li:focus {
  color: #404bbf;
  cursor: pointer;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

.header-container-div {
  display: flex;
  justify-content: space-between;
}

.header-nav-menu {
  display: flex;
  align-items: center;
}

.menu-nav-li {
  color: rgba(46, 47, 66, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
}

.header-menu-link {
  display: flex;
  margin-left: 76px;
  gap: 40px;
  align-items: center;
}

.header-link-address {
  display: flex;
}

.header-link-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link-contact {
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  column-gap: 40px;
}

.header-link-contact:hover,
.header-link-contact:focus {
  color: #404bbf;
  cursor: pointer;
}

.current {
  color: rgba(46, 47, 66, 1);
}

/* Button */

.features-section {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(46, 47, 66, 1);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  padding: 188px 0;
}

.features-section-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto 72px;
}

.features-section-button {
  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features-section-button:hover,
.features-section-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.first-section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.first-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.first-section-list {
  display: flex;
  gap: 24px;
}

.first-section-container {
  width: calc((100% - 72px) / 4);
}

.first-section-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.first-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-section {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.hero-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.persons-images {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.persons-text {
  padding: 32px 0;
  text-align: center;
}

.hero-section-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.hero-section-fone {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section-card {
  border: 1px solid #e7e9fc;
  background-color: #fff;
  width: calc((100% - 48px) / 3);
}

.portfolio-card-content {
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card-content-h {
  margin-bottom: 8px;
}

.footer {
  background-color: rgba(46, 47, 66, 1);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  margin-top: 17.5px;
  color: rgba(244, 244, 253, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-weight: 400;
}
